
body {
	background: url(https://www.wallpaperup.com/uploads/wallpapers/2016/06/27/992854/c154462c4f4df748d8252adfd41c20b9.jpg);
	background-repeat: no-repeat;
	background-size: cover
}

div form {
	align-self: center
}

p {
	align-items: center;
	size: 500%;
}

#special:first-child {
	color: aliceblue;
}

.name .xxx[type='text'] {
	color: #000;
}

div:nth-of-type(3) p:nth-of-type(2) {
	color: aqua
}

