body {
	background-color: rgb(152, 199, 240)
}

.square {
	 width: 30%;
	 background: purple;
	 padding-bottom: 30%;
	 float: right;
	 margin: 1.66%;
	 border-radius: 4%
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

#message {
	font-size: 100px;
	color: darkorchid
}

h1 {
	color: chocolate
}

span {
	color: darkorchid
}
