body {
	text-align: center;
	margin: 0;
	background-color: rgb(221, 250, 248)
}

.top-clound {
	width: 150px;
	height: 100px;
}

.text-center {
	top: 100px;
	margin: 0 auto;
	position: relative;

}

.img-top-clound {
	width: 150px;
	height: 100px;
	top: 30px;
	right: 300px;
	position: absolute;
}

.img-bottom-clound {
	width: 100px;
	height: 100px;
	top: 220px;
	left: 300px;
	position: absolute;
}

.img-mountain {
	position: absolute;
	height: 400px;
	width: 600px;
	top: 250px;
	left: 700px;
}
